<!DOCTYPE html>

<style>
table, th, td {
  border: 1px solid purple;
}
</style>

<script>
    
</script>
<title>Transaction summary</title>
<h1>Transaction Summary</h1>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/styles/master.css">  <!-- for centering of page and same font -->

    <meta charset="UTF-8">
    <title>Title</title>
</head>
    
<body>
   <div class = "main">		<!-- div wrapper to center page element -->
    <table id="TransactionSummary">
  <tr>
    <th>Product</th>
    <th>Quantity</th>
    <th>Price</th>
  </tr>
  <tr>
    <td>Test1</td>
    <td>5</td>
    <td>$100</td>
  </tr>
  <tr>
    <td>Test2</td>
    <td>4</td>
    <td>$80</td>
  </tr>
  <tr>
    <td>Test3</td>
    <td>1</td>
    <td>$10</td>
  </tr>
  <tr>
    <td>Test4</td>
    <td>2</td>
    <td>$20</td>
  </tr>
  <tr>
    <td>Test5</td>
    <td>1</td>
    <td>$20</td>
  </tr>
  <tr>
    <td>TOTAL</td>
    <td>13</td>
    <td>$230</td> <!--Total amount-->
    </tr>
</table>
   </div>
   <button onclick="location.href" = 'mainMenu.html' type="button">OK</button>
</body>
</html>
