<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transaction</title>
</head>
<body>
    <div class="header">
		<h1 class="primary-message"></h1> <!-- Formerly had "Transaction" in the h1 tag. Removed due to placeholder. -->
    </div>
    

    <form action="/action_page.php">
        <label for="lookupCode"></label>
        <input type="text" id="lookupCode" name="lookupCode"><br><br>
        <input type="submit" value="Search">
      </form>


	<div id="main" class="main">
		<div id="error" th:class="${#strings.isEmpty(errorMessage)} ? hidden : ''">
			<h4 id="errorMessage" class="error-message" th:text="${errorMessage}"></h4>
        </div>

        <div class="transactionSearch">
            
        </div>
    </div>

</body>
</html>
