<!DOCTYPE html>

<style>
table, th, td {
  border: 1px solid black;
}
</style>

<script>
    
</script>

<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/styles/master.css">  <!-- for centering of page and same font -->

    <meta charset="UTF-8">
    <title>Title</title>
</head>
    
<body>
   <div class = "main">		<!-- div wrapper to center page element -->
    <table summary="Transaction Summary">
  <tr>
    <th>Product</th>
    <th>Price</th>
  </tr>
  <tr>
    <td>January</td>
    <td>$100</td>
  </tr>
  <tr>
    <td>February</td>
    <td>$80</td>
  </tr>
</table>
   </div>
</body>
</html>
